<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> 🌟Siga-nos nas redes sociais! 🌟</h4>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class="icoLinkedin">

                        <i style = "color:white"class="fa fa-linkedin-square"></i>

                    </a>
                </li>
                <li>
                    <a href="https://github.com/Projeto-Sirius" target="_blank" class="icoGithub">

                        <i style = "color:white"class="fa fa-github"></i>

                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/projeto_sirius30" target="_blank" class="icoInstagram"><i style = "color:white" class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li> 

                

            </ul>

        </div>





    </div>

    <div class="footer-copyright bg-secundary text-center py-3" style="background-color: rgba(0, 0, 0, 0.8); color: #FFF;">
        © 2022 Copyright:
        <a class="text-copyright" style="color: #FFF;" href="https://github.com/Projeto-Sirius%22%3E Projeto Sirius LTDA"> Projeto-Sirius LTDA</a>
    </div>



</footer>
