<div class="container mb-5 mt-5 bg-black" id="bg">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-danger mt-3"> Atualizar Categoria </h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-4">  
        <div class="col-md-4">
            <div class="form-group txt text-white font-weight-bold">
                <label for="texto"> Nome:</label>
                <input [(ngModel)]='categoria.nome' class="form-control" type="text" name="nome"
                    placeholder="Digite o nome">   
            </div>
            <div class="form-group txt text-white font-weight-bold">
                <label for="usuario">Descricao:</label>
                <input [(ngModel)]='categoria.descricao' class="form-control" type="text" name="descriçao"
                    placeholder="descrição">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mr-4">
                <h4 class="text-center text-warning mt-4">Você tem certeza que deseja atualizar essa categoria?</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-danger mr-4 mb-4" style="margin-right: 10px;width: 10%;"
                routerLink="/categoria">Cancelar</button>
                <button class="btn btn-primary mb-4" style="width: 10% " type="submit" (click)='atualizar()'>Atualizar</button>
            </div>
        </div> 
    </div>
</div>


