<nav class="navbar navbar-expand-lg navbar-light background ">
  <a class="navbar-brand" href="#"><img  class = "siriuslogo"src = "../../assets/sirius-removebg-preview.png"></a>
  <div class="container-fluid">

 
  <div class="col-md-11">
    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent ml">
      <form class="form-inline d-flex ">
        <input class="form-control mr-sm-2 " type="search" placeholder="Digite aqui" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light background1">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active  text-white">
        <a class="nav-link text-white" routerLink="/inicio"><b>Home </b><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav justify-content-end  ">
      
      <li class="nav-item active">
        <a class="nav-link text-white " routerLink="/erazon"><b>Erazon</b><span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white " routerLink = '/produto' href="#"><b>Produtos</b> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white " (click)="sair()" href="#"><b>Login</b> <span class="sr-only"></span></a>
      </li>
      
    </ul> 
  </div>
</nav>