<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        
        <li class="nav-item active pl-2 mt-2">
            <p class = "fs p-2 text-white font-weight-bold">Sirius</p>
        </li>
        <li class="nav-item active pl-2 mt-2">
            
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item active mr-auto ">
          <a href = ""><i class="fa fa-sign-out fs2 text-white"  aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </nav>