<nav class="navbar navbar-expand-lg navbar-light background ">
  <a class="navbar-brand" href="#"><img  class = "siriuslogo"src = "../../assets/sirius-removebg-preview.png"></a>
  <div class="container-fluid">

 
  <div class="col-md-11">
    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent ml">
      <form class="form-inline d-flex ">
        <input class="form-control mr-sm-2 " type="search" placeholder="Digite aqui" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/inicio">HOME <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
      
      <li class="nav-item active">
        <a class="nav-link" routerLink="/erazon"> Erazon <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = '/produto' href="#">Produtos <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" (click)="sair()" href="#">LOGIN <span class="sr-only"></span></a>
      </li>
      
    </ul> 
  </div>
</nav>