<div class="container-fluid fundo d-flex justify-content-center align-items-center ">
    <div class="row fundo d-flex justify-content-center col-md-12">

        <div class="row d-flex align-items-center">

            <div class="logo col-md-5 d-flex justify-content-center "><img width="100%" class="erazon"
                    src="../../assets/LogoErazon.png" alt="logo" srcset="">
            </div>

            <div class="col-md-6  text-white sobre">
                <h4 class="display-5 mt-3 sobre"><b> O que é Erazon? </b> </h4>

                <p class="fs-18" style="  text-align: justify"> "É uma organização não governamental que visa levar energia limpa e renovável para comunidades carentes de diferentes regiões do Brasil. "
                    <br>
                </p>

            </div>
        </div>
    </div>
</div>
<div class="container-fluid fundoAzulClaro d-flex justify-content-center align-items-center ">
    <div class="row d-flex justify-content-center col-md-12">
        <div class="row d-flex justify-content-center col-md-12">

            <div class="row d-flex justify-content-center">
    
                <div class="col-md-5 p-5 text-center ">
                    <h4><b> Principais Objetivos </b></h4>
                    <ul class="fs-18" style=" text-align: justify"> 
                        <li>Concientização dos social de cuidado com o meio ambiante;</li>
                        <li>Criação de uma consciência sobre o impacto da utilização de energia de fontes não renováveis;</li>
                        <li>Gerar o acesso a fontes de energias limpas de forma justa.</li>
                    </ul>
                </div>

                <div class="col-md-5  p-5 text-center">
                    <h4><b> Impactes Diretos </b></h4>
                    <ul class="fs-18" style=" text-align: justify"> 
                        <li>Pessoas em situação de fragilidade socio econômica;</li>
                        <li>Redução da emissão de dióxido de carbono (CO₂);;
                        </li>
                        <li>Contributo ao equilíbrio dos ecossistemas;</li>
                        <li>Favorece a sustentabilidade;</li>
                        <li>Economia de custos para indústrias e residências.</li>
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
</div>
<div class="container-alt mt-3 mb-1">
    <div class="w70">
      <div class="parceria">
        <h4><b>Sirius e Erazon</b></h4>
        <p class = "fs-18">Desde a idealização do Sirius a Erazon sempre esteve presente, pois, o nosso principal objetivo é que a energia limpa e renovável seja acessível a todos. E para alcançar esse objetivo criamos juntamente com o sirius a Erazon e designamos 30% dos lucros para que seja projeto continue sempre vivo. Atualmente conseguimos atingir 20% das comunidades carentes, mas tem muito a ser feito!</p>
      </div>
    </div>
    <div class="w30">
        <div class="logo col-md-5 d-flex justify-content-center "><img width="100%" class="erazon"
            src="../../assets/logoParceria.png" alt="logo Parceria" srcset="">
    </div>
    </div>
</div>