<div class = "container-fluid" >
    <div class="row bg-color d-flex align-items-center">
          <div class="col-md-6">
  
              <div class="row d-flex justify-content-center">
                  <div class="col-md-6 text-white">
                      <h1 class='fs-54'>Seja bem vindo(a)!</h1>
                      <h5 class='fs-18'>Veja ou adicione produtos</h5>
                  </div>
              </div>
  
              <div class="row d-flex justify-content-center mt-3 mb-5">
                  <div class="col-md-6">
                      <button class="btn btn-light mr-2" data-toggle="modal" data-target="#novaPostagem">Novo Produto</button>
                      <a class="btn btn-outline-light" routerLink ='/produto-flix' href="#postagens">Ver Produtos</a>
                  </div>
              </div>
  
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
              <img src="https://i.imgur.com/XOcrb85.png" alt="foto" width=500px height=500px mensagem>
  
          </div>
      </div>
  
  </div>

  

<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="TituloModalCentralizado">Novo produto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">

                <div class="form-group">
                    <label for="titulo">Nome</label>
                    <input [(ngModel)] = 'produto.nome'type="text" class="form-control" id="titulo" name = "nome" placeholder="Titulo">
                </div>

                <div class="form-group">
                    <label for="texto">Preco</label>
                    <input [(ngModel)] = 'produto.preco'type="text" class="form-control" id="preco" name="preco" placeholder="Digite o Preço">
                </div>

                <div class="form-group">
                    <label for="texto">Quantidade</label>
                    <input [(ngModel)] = 'produto.quantidade'type="text" class="form-control" id="quantidade" name="quantidade" placeholder="Digite a Quantidade">
                </div>

                <div class="form-group">
                    <label for="texto">Foto</label>
                    <input [(ngModel)] = 'produto.foto' type="text" class="form-control" id="fotos" name="fotos" placeholder="Link da foto">
                </div>

                <div class="form-group">
                    <label for="texto">Escolha um Tema</label>
                    <select name="categoria" id="categoria" class="form-control" [(ngModel)] = 'idCategoria' (change) = 'findByIdCategoria()'>
                        <option *ngFor ='let item of listaCategoria'value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="texto">Escolha um Produto ou <a data-dismiss = "modal" routerLink = "/produto-fix">cadastre um novo </a></label>
                    <select name="produto" id="produto" class="form-control" [(ngModel)] = 'idProduto' (change) = 'findByIdProdutos()'>
                        <option *ngFor ='let item of listaProdutos'value="{{item.id}}">{{item.nome}}</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success"(click) = 'publicar()'>Publicar</button>
        </div>
    </div>
</div>
</div>

<div class="container">

    <h2>Todos os Produtos</h2>
    <p>Voltados a diversificação da matriz energética</p>

 <div class="row " *ngFor = 'produto of listaProdutos'>
        <div class="card ">
            <div height="10px">
                <img class="card-img-top img-tmh "
                    src="https://images.tcdn.com.br/img/img_prod/652644/coletor_solar_black_tech_381_1_5dddb2d5edf2a9e63a9f35c712abb89d.jpg"
                    alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Coletor Solar BLACK TECH 200 x 100 </h5>
                <p class="card-text">Preço:R$2600,00 </p>
                <a href="#" [routerLink]="" class="btn btn-primary">Conferir</a>
            </div>
        </div>
    </div>

<div class="container">

    <div class="row " *ngFor = 'produto of listaProdutos'>
        <div class="card ">
            <div height="10px">
                <img class="card-img-top img-tmh "
                    src="https://images.tcdn.com.br/img/img_prod/652644/coletor_solar_black_tech_381_1_5dddb2d5edf2a9e63a9f35c712abb89d.jpg"
                    alt="Imagem de capa do card">
            </div>
            <div class="card-body">
                <h5 class="card-title">Coletor Solar BLACK TECH 200 x 100 </h5>
                <p class="card-text">Preço:R$2600,00 </p>
                <a href="#" [routerLink]="" class="btn btn-primary">Conferir</a>
            </div>
        </div>
    </div>


</div>
