

#img-bg{
    background-image: url(https://i.imgur.com/VxxP9y5.png);

    min-height: 1080px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-md-5{
    background-color: rgba(134, 131, 150, 0.486);
    font-weight: bold;
}

.btcad{
    cursor: pointer;
    background-color: #297a26;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;
}

.btcad:hover {
    background: #39a86b;
    color: #ccc;
}

.btcan{
    background-color: #9c0f0f;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.btcan:hover{
    background: #a84a39;
    color: #ccc;
}