<div class="conteiner-fluid" >

    <div class="row bg-logo" >
        <div class="col-md-12" >
            <div class="row d-flex justify-content-center text-center mb-2">
                <h1>Sírius</h1>
            </div>
            
        </div>

        <div class="col-md-12 mb-5  backgroung">

                <div class="row d-flex justify-content-center mt-5 mb-5 p-2">
                    <div class="col-md-5">

                        <h1 class="text-center">Cadastro</h1>

                        <div class="form-group">
                            <label form="nome">Nome</label>
                            <input [(ngModel)]='user.nomeCompleto'class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome"> 
                        </div>

                        <div class="form-group">
                            <label  form="usuario">Usuário</label>
                            <input [(ngModel)]='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário"> 
                        </div>

                        <div class="form-group">
                            <label form="foto">Foto</label>
                            <input  [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da foto"> 
                        </div>
                        <div class="form-group">
                            <label form="Senha">Senha</label>
                            <input [(ngModel)]='user.senha' class="form-control" type="password" name="Senha" id="senha" placeholder="Digite sua senha"> 
                        </div>
                        <div class="form-group">
                            <label form="cSenha">Confirmar Senha</label>
                            <input  (input) = 'confirmSenha($event)' class="form-control" type="password" name="cSenha" id="cSenha" placeholder="Confirme sua senha"> 
                        </div>

                        <div class="form-group">
                            <label form="tipo">Tipo de usuário</label>
                            <select class="form-control" name="tipo" id="tipo " (change) = 'tipoUser($event)'>
                                <option>Selecione o tipo de usuário</option>
                                <option value="adm">Pessoa Jurídica</option>
                                <option value="normal">Pessoa Física</option>
                            </select>

                        </div>

                        <div class="d-flex justify-content-center mb-3 font">
                            <button type="submit" class="right mt-3 btn btn-outline-dark btn-2 m-20"
                                routerLink='/entrar'>Cancelar</button>
                            <button type="submit" class="right mt-3 btn btn-outline-dark btn-1 m-20" (click)='cadastrar()' >Cadastrar</button>
                        </div>
                    </div>

            </div>

        </div>
    </div>

</div>