.bg-logo{
    background-color: rgb(99, 76, 122);
}

.backgroung{
    width:  1280;
    height: 720px;
    background-color: rgb(245, 238, 238);
  }


.col-md-5{
    background-color: rgba(134, 131, 150, 0.486);
    font-weight: bold;
    border-radius: 30px;
}

.btcad{
    cursor: pointer;
    background-color: #297a26;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;

}

.right{
    margin-right: 10px;
    margin-bottom: 10px;
}

.btcad:hover {
    background: #39a86b;
    color: #ccc;
}

.btcan{
    background-color: #9c0f0f;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

.btcan:hover{
    background: #a84a39;
    color: #ccc;
}