<div style="background-color: #E9ECEF;">
    <div class="container-fluid espaco">
        <img src="https://i.imgur.com/rKg1nX8.png" alt="" width="100%" height="680">
    </div>


    <div class="container ">

        <div class="row d-flex justify-content-center">
            <div class="col-md-4">

                <input class="form-control  my-5" type="search" placeholder="Busque aqui seu produto"
                    aria-label="Pesquisar">
            </div>
        </div>

        <div class="row ">
            <div class="card ">
                <div height="10px">
                    <img class="card-img-top img-tmh "
                        src="https://images.tcdn.com.br/img/img_prod/652644/coletor_solar_black_tech_381_1_5dddb2d5edf2a9e63a9f35c712abb89d.jpg"
                        alt="Imagem de capa do card">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Coletor Solar BLACK TECH 200 x 100 </h5>
                    <p class="card-text">Preço:R$2600,00 </p>
                    <a href="#" [routerLink]="" class="btn btn-primary">Conferir</a>
                </div>
            </div>
        </div>


        <div class="container">
            <hr>
        </div>

        <div class="corH">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="m-5">
                        <h3> ✍ Mande um recado para a nossa equipe!</h3>
                        <div class="my-3">
                            <h6> ☁ Seu Nome</h6>
                            <input class="form-control" placeholder="Insira seu nome">
                        </div>
                        <div class="my-3">
                            <h6> ☎ Seu Email</h6>
                            <input class="form-control" placeholder="Insira seu email">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dark"> Enviar 😄 </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex espaco justify-content-center">
                    <div class="m-5 d-flex justify-content-center">
                        <img src="https://avatars.githubusercontent.com/u/97920392?v=4" alt="logo sirius" width="65%">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>