*{
    margin: 0;
    box-sizing: border-box;
    
}

html,body{
height: 100%;
margin: 0;
}

.container-fluid{
    padding:0px;
}

#img-bg{
    background-image: url(https://i.imgur.com/VxxP9y5.png);

    min-height: 1080px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs{
    font-size: 1.6em;
    width:0.8em;
    height: 1.2em;
}

.input-group input{
    width: 19.0em;
}
.card{
height: 100px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}
.corpo{
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: 5;
    

}

.social_icon span{
font-size: 30px;
margin-left: 10px;
color: #c24040;
}

.social_icon span:hover{
color: rgb(54, 54, 54);
cursor: pointer;
}

.card-header h3{
color: rgb(243, 0, 0);
}