<div routerLink="/produto">Produtos</div>
<div class="container" style="background-color:white">
    <div class="row">
        <div class="col-md-7 my-5">

            <div class="card" style="width: 25rem;">
                <img src="{{produto.foto}}" class="img-responsive borda" alt="">
                <h4 class = "text-center mt-2">{{produto.nome}}</h4>
                <div class="card-body">
                    <p class ="fs-20">R$ {{produto.preco}} </p>
                    <button class="btn btn-success mb-3" (click)='comprar()'>Comprar</button>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <h1>Formas de pagamento :</h1>
            <div class="row d-flex">
                <div class="col-md-12 mt-3 d-flex">
                    <h5>
                        <p><img src="https://imgur.com/OQLQ6zp.png" alt=""  class="tamanho-icone ml-3"> Cartão de crédito</p>
                    </h5>
    
                    <h5>
                        <p><img src="https://imgur.com/1KLJr8U.png" alt="" style = "margin-left: 10px;"class="tamanho-icone ml-3">Boleto</p>
                    </h5>
    
                    <h5>
                        <p> <img src="https://imgur.com/C5ybb3A.png" alt="" style = "margin-left: 10px;" class= "tamanho-icone ml-3">PIX</p>
                    </h5>




                </div>
                


            </div>

            <div class="row">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail2">
                        <label class="ml-3" for="">Consultar prazo e valor do frete</label>
                    </div>
                    <div class="form-group mx-sm-0  mb-3">
                        <label for="inputPassword2" class="sr-only">CEP</label>
                        <input type="text" class="form-control" id="inputPassword2" placeholder="00000-000">
                    </div>
                    <button type="submit" class="btn btn-success mb-2">OK</button>
                </form>
            </div>




        </div>
    </div>
</div>




<div class="container-fluid">

    <div class="page-footer font-small background pt-4">


        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"> 🌟Siga-nos nas redes sociais! 🌟</h4>
            </div>
        </div>

        <div class="col-md-12 d-flex justify-content-center">

            <ul class="social-network">
                <li>
                    <a href="" target="_blank" class="icoLinkedin">

                        <i style="color:white" class="fa fa-linkedin-square"></i>

                    </a>
                </li>
                <li>
                    <a href="https://github.com/Projeto-Sirius" target="_blank" class="icoGithub">

                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/projeto_sirius30" target="_blank" class="icoInstagram"><i
                            style="color:white" class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>



            </ul>

        </div>






        <div class="footer-copyright text-center py-3 " style="background-color: rgba(0, 0, 0, 0.8); color: #FFF;">
            © 2022 Copyright:
            <a class="text-copyright" style="color: #FFF;"
                href="https://github.com/Projeto-Sirius%22%3E Projeto Sirius LTDA"> Sirius LTDA</a>
        </div>

    </div>
</div>