

<div class="container-fluid fundo0 d-flex justify-content-center align-items-center ">
  <div class="row d-flex justify-content-center col-md-12">

    <div class="row d-flex align-items-center">

      <div class="logo col-md-5 d-flex justify-content-center "><img width="100%" class="logo"
          src="../../assets/My_project_10.png" alt="logo" srcset="">
      </div>

      <div class="col-md-6 mt-3 mb-5  text-white sobre">
        <h4 class="display-5 mt-3 sobre"><b> Por que Sirius?</b> </h4>

        <p style=" text-align: justify"> "Sirius deriva do latim sīrius e do grego σείριος (seirios, "brilhante")
          estrela que pertence a α Canis Majoris ou alpha Canis Majoris (latim: Alfa do Cão Maior)
          é a estrela mais brilhante do céu noturno Sirius também é acelerador de partículas do tipo
          síncrotron localizado no município de Campinas, no interior de São Paulo, sendo o primeiro acelerador de  partículas do Brasil."
          <br>
        </p>

      </div>
    </div>

    <div class="container-fluid fundo3 d-flex justify-content-center align-items-center ">
      <div class="row d-flex justify-content-center col-md-10">

        <div class="row d-flex align-items-center">

          <div class="col-md-5 mt-5 mb-5 ">
            <h4><b>  ☀ Diversificar a Matriz elétrica Brasileira </b></h4>
            <p style=" text-align: justify"> A atual Matriz de energia renovável brasileira se foca em cerca de 60% em
              energia hidrelétrica, porém outras energias renováveis podem vir a ser melhores investimentos dentro do
              Brasil, pensando nisso o Projeto Sirius elaborou uma tese sobre os outros tipos de energias que podem ser
              usados em diferentes regiões do Brasil e como elas podem ajudar no desempenho da expansão da energia limpa
              de maneira justa e eficaz !
            </p>
          </div>


        </div>
      </div>


    </div>
  </div>

</div>

<div class="container-alt mt-3 mb-1">
  <div class="w70">
    <div class="i-energia">
      <h4><b>🔭A importancia da Energia Limpa</b></h4>
      <p>A energia limpa contribui para a utilização de fontes renováveis. Além dos recursos utilizados estarem
        disponíveis para gerações futuras, a energia limpa não causa impactos como o aumento do dióxido de carbono
        (CO2) na atmosfera, não emite gases de efeito estufa e tampouco agrava o aquecimento global.</p>
    </div>
  </div>
  <div class="w30">
    <iframe width="500" height="415" src="https://www.youtube.com/embed/n-eIM6Ds1jQ" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen class="mr-auto">
    </iframe>

  </div>
</div>

<div class="Time1">
  <div class="overlay">
    <div class="about d-flex flex-column">
      <h4> Alexandre Amorim</h4>
      <h6>Time Sirius</h6>
    </div>
    <ul class="social">
      <li>
        <a href="https://github.com/alexamorim17" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/alexandre-amorim-38039b1a3/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </div>

<!--Cards dos dev's do grupo-->
  
  <div id="name-equipe" class="row card-group align-items-center justify-content-center mb-0">
    <div class="col-md-12 mb-3">
        <div class="row" id="card">
            <h3 class="text-center mb-4 mt-3 text-equipe">
                <a name="name-equipe"></a> ✨O Time Sirius ✨
            </h3>
        </div>
        <div class="col-md-12 d-flex justify-content-center wrap">

            <div class="Marcos mx-3">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4>Marcos Vinicius</h4>
                        <h6>Projeto Sirius ✨ </h6>
                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/marcos-vinicius-vieira-da-silva/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Bia mx-3">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4>Beatriz Carvalho</h4>
                        <h6>Projeto Sirius ✨</h6>
                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="https://github.com/Biah98" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/beatriz-scarvalho98/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="Marlom mx-3">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4>Marlom Maciel</h4>
                        <h6>Projeto Sirius ✨</h6>
                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="https://github.com/Marlon2103" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/marlon-maciel-b87b3a207/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="Ale mx-3">
                <div class="overlay ">
                    <div class="about d-flex flex-column">
                        <h4>Alexandre Amorim</h4>
                        <h6>Projeto Sirius ✨</h6>

                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="https://github.com/alexamorim17" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alexandre-amorim-38039b1a3/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Rodrigo mx-3">
                <div class="overlay ">
                    <div class="about d-flex flex-column">
                        <h4>Rodrigo Viana </h4>
                        <h6>Projeto Sirius ✨</h6>

                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="https://github.com/Rodrigo667k" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/rodrigo-viana-580728168/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>




            <div class="Maju mx-3">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4>Maria Giulia Castro</h4>
                        <h6>Projeto Sirius ✨</h6>
                    </div>
                    <ul class="tm-social">
                        <li>
                            <a href="https://github.com/GiuliaCastroo" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/maria-giulia-castro-49485a1b3/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Cards dos dev's do grupo-->









</div>

  
