

    <div class="container-fluid">

        <div class="row bg">
            <div class="col-md-12 text-white mt-5">
    
                <h1 class="fs-54 text-center"> 🔎 Categorias  </h1>
                <h5 class="fs-18 text-center">Veja aqui nossas categorias cadastradas ou cadastre uma nova 😊:</h5>
                <div class="row d-flex justify-content-center mt-4 mb-5">
                    <div class="col-md-3">
                        <div class="form-group">
                          <label>Nome</label>
                          <input [(ngModel)]='categoria.nome' type="text" class="form-control" id="nomeCategoria"
                          placeholder="Digite o nome da categoria">
                        </div>
                        <div class="form-group">
                            <label>Descrição</label>
                            <input [(ngModel)]='categoria.descricao' type="text" class="form-control" id="descricao"
                            placeholder="Digite a descrição da categoria">
                        </div>
                        <div class="d-flex mt-4 justify-content-center">
                            <button class="btn btn-light" (click)='publicar()'>Cadastrar</button>
                        </div>
    
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h2 class="text-center">  🌟Todas as Categorias🌟 </h2>
            </div>
        </div>
        <div class="row mt-3 mb-5 d-flex justify-content-center">
            <div class="col-md-6">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                
                      </tr>
                    </thead>
                    <tbody>
                      <tr  *ngFor="let item of listaCategoria"> 
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.descricao}}</td>
                        <td class="d-flex justify-content-end">
                            <button class="btn btn-edit mr-3" [routerLink]="['/categoria-edit', item.id]">Editar</button>
                            <button class="btn btn-delete " [routerLink]="['/categoria-delete', item.id]">Apagar</button>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
