<div class="container">
            
            
                <div class="form-group">

                    <div class="form-group">
                        <label for="titulo">Nome</label>
                        <input [(ngModel)]='produto.nome' type="text" class="form-control" id="titulo" name="nome"
                            placeholder="Titulo">
                    </div>

                    <div class="form-group">
                        <label for="texto">Preco</label>
                        <input [(ngModel)]='produto.preco' type="text" class="form-control" id="preco" name="preco"
                            placeholder="Digite o Preço">
                    </div>

                    <div class="form-group">
                        <label for="texto">Quantidade</label>
                        <input [(ngModel)]='produto.quantidade' type="text" class="form-control" id="quantidade"
                            name="quantidade" placeholder="Digite a Quantidade">
                    </div>

                    <div class="form-group">
                        <label for="texto">Foto</label>
                        <input [(ngModel)]='produto.foto' type="text" class="form-control" id="fotos" name="fotos"
                            placeholder="Link da foto">
                    </div>

                    <div class="form-group">
                        <label for="texto">Escolha uma Categoria</label>
                        <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria'
                            (change)='findByIdCategoria()'>
                            <option *ngFor='let item of listaCategoria' value="{{item.id}}">{{item.nome}}</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="texto">Escolha um Produto ou <a 
                                routerLink="/produto-fix">cadastre um novo </a></label>
                        <select name="produto" id="produto" class="form-control" [(ngModel)]='idProduto'
                            (change)='findByIdProdutos()'>
                            <option *ngFor='let item of listaProdutos' value="{{item.id}}">{{item.nome}}</option>
                        </select>
                    </div>

                </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" >Cancelar</button>
                <button type="button" class="btn btn-success" (click)='publicar()'>Publicar</button>
            </div>
</div>
  
